.body{
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-weight:400;
}
p{
  font-weight:300;
}

*{
  transition:all 300ms ease-in-out;
}

a{
  text-decoration:none;
  color:$link;

  &:hover{
    text-decoration:none;
    color:$hover;
  }
  &:focus{
    outline:none;
    color:$hover;
  }
}
